/* Importar la fuente 'Rubik' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* Definir variables para colores y tipos de Pokémon */
:root {
    --clr-black: #000000;
    --clr-gray: #673ed8a2;
    --clr-white: #351818b9;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #998947;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;
}

/* Estilos generales para todo el documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}

/* Estilos para listas no ordenadas */
ul {
    list-style-type: none;
}

/* Estilos para botones */
button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

/* Estilos para el cuerpo de la página */
body {
    min-height: 100vh;
    background: linear-gradient(45deg, #3498db, #e74c3c, #2ecc71, #f39c12);
    background-size: 400% 400%;
    animation: zigzagLines 10s infinite linear;
}

/* Animación de fondo */
@keyframes zigzagLines {
    to {
        background-position: 100% 100%;
    }
}

/* Estilos para la barra de navegación */
.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

/* Estilos para la lista de navegación */
.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

/* Estilos para los botones de la barra de navegación */
.btn-header {
    background-color: var(--clr-gray);
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
}

/* Estilos para los botones de la barra de navegación al pasar el ratón sobre ellos */
.btn-header:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

/* Estilos para el contenido principal */
main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

/* Estilos para el contenedor de todos los Pokémon */
.pokemon-todos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/* Estilos responsivos para el contenedor de todos los Pokémon */
@media screen and (min-width: 470px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Estilos para la presentación visual de cada Pokémon */
.pokemon {
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(128, 110, 110, 0.25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

/* Estilos para el número de ID del Pokémon en la parte posterior */
.pokemon-id-back {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    color: var(--clr-gray);
}

/* Estilos para la imagen del Pokémon */
.pokemon-imagen {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

/* Estilos para la imagen del Pokémon dentro del contenedor */
.pokemon-imagen img {
    width: 100%;
    max-width: 6rem;
}

/* Estilos para la información del Pokémon */
.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

/* Estilos para el contenedor del nombre del Pokémon */
.nombre-contenedor {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos para el número de ID del Pokémon */
.pokemon-id {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

/* Estilos para el nombre del Pokémon */
.pokemon-nombre {
    font-size: 1.4rem;
}

/* Estilos para los tipos del Pokémon */
.pokemon-tipos {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos para cada tipo de Pokémon */
.tipo {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

/* Estilos para las estadísticas del Pokémon */
.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

/* Estilos para cada estadística del Pokémon */
.stat {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

/* Estilos para los diferentes tipos de Pokémon */
.normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
}

.fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
}

.water {
    background-color: var(--type-water);
    color: var(--clr-white);
}

.grass {
    background-color: var(--type-grass);
    color: var(--clr-black);
}

.electric {
    background-color: var(--type-electric);
    color: var(--clr-black);
}

.ice {
    background-color: var(--type-ice);
    color: var(--clr-black);
}

.fighting {
    background-color: var(--type-fighting);
    color: var(--clr-white);
}

.poison {
    background-color: var(--type-poison);
    color: var(--clr-white);
}

.ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
}

.flying {
    background-color: var(--type-flying);
    color: var(--clr-black);
}

.psychic {
    background-color: var(--type-psychic);
    color: var(--clr-black);
}

.bug {
    background-color: var(--type-bug);
    color: var(--clr-black);
}

.rock {
    background-color: var(--type-rock);
    color: var(--clr-black);
}

.ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);
}

.dark {
    background-color: var(--type-dark);
    color: var(--clr-white);
}

.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
}

.steel {
    background-color: var(--type-steel);
    color: var(--clr-black);
}

.fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);
}
